doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title PARKVILLE SIGNUP FORM
  link(rel='stylesheet', href='/css/style1.css')
.regform
  h1 Signup
.main
  form(name='signup', onsubmit='return validateForm()',action='/signup' method='post')
    #name
      h2.Employee Name
      input.firstname(type='text', name='usernname', size='10', required='')
      label.firstlabel(for='uerid') first name
      input.lastname(type='text', size='12', name='username', required='')
      label.lastlabel(for='usid') last name
    h2.name(for='email') Email
    input#input-text.email(type='text', name='email', size='30')
    p#vm(style='color: red; text-align: center')
    h2.name Address
    input.company(type='text', name='address', required='')
    h2.name NIN NUMBER
    input.nin(type='text', name='nin', required='')
    p#p3(style="color: red;font-family: 'Times New Roman', Times, serif;")
    h2.name PASSWORD
    input#psw.password1(type='password', name='password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters', required='')
    label.pass(for='psw') Password
    input#psw.password2(type='password', name='password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters', required='')
    label.confirm(for='psw') confirm password
    h2.name Country
    select.option(name='subject')
      option(disabled='disabled', selected='selected') --choose option
      option Uganda
      option Kenya
      option Tanzania
      option USA
      option Rwanda
      option Ukraine
    label.radio
      h2.gender Gender
      input.radio-one(type='radio', checked='checked', name='gender')
      span.checkmark Male
      br
      input.radio-one(type='radio', checked='checked', name='gender')
      span.checkmark Female
      button.primary(onclick=' ffocus()', type='submit')
        a(href='login.html') submit
script(src='/js/signup.js')
